{% extends "rrhh/base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="container mt-4">
    <h2>Editar Empleado</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 mb-3">
                <label>{{ form.nombre.label }}</label>
                {% render_field form.nombre class="form-control" %}
            </div>
            <div class="col-md-6 mb-3">
                <label>{{ form.apellidos.label }}</label>
                {% render_field form.apellidos class="form-control" %}
            </div>
            <div class="col-md-6 mb-3">
                <label>{{ form.email.label }}</label>
                {% render_field form.email class="form-control" %}
            </div>
            <div class="col-md-6 mb-3">
                <label>{{ form.foto.label }}</label>
                {% render_field form.foto class="form-control" %}
            </div>
            <div class="col-md-6 mb-3">
                <label>{{ form.departamento.label }}</label>
                {% render_field form.departamento class="form-select" %}
            </div>
            <div class="col-md-6 mb-3">
                <label>{{ form.puesto.label }}</label>
                {% render_field form.puesto class="form-select" %}
            </div>
            <div class="col-12 mb-3">
                <label>{{ form.direccion.label }}</label>
                {% render_field form.direccion class="form-control" %}
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <a href="{% url 'listar_empleados' %}" class="btn btn-secondary">Cancelar</a>
            <button type="submit" class="btn btn-warning">Actualizar</button>
        </div>
    </form>
</div>
{% endblock %}
